#aboutBackgroundHeader {
    height: 200px;
    background-position: center -190px;
    background-size: cover;
    background-repeat: no-repeat;
}
.frameworks i>p{
    font-family: 'Helvetica';
}
.aboutSection>p{
    margin-bottom: 15px;
}
.aboutMe i>span{
    font-family: 'Helvetica';
    font-weight: 400;

}
.listing li{
    margin-bottom: 10px;
}

.inspireSection div{
height: 150px;
margin: 10px;
background-color: #3b8eb842;
display:block;
width: 180px;
display:flex;
justify-content: center;
align-items: center;
padding: 5px;
}
.inspireSection a, .inspireSection a:hover{
    text-decoration: none;
}

/* .tooltip{ */
    /* position: relative; */
    /* display: inline-block; */
    /* color: black;
    visibility: visible;
} */

/* .tooltext{
    z-index: 15;
    position: absolute;
} */

/* .tooltext{
    visibility: hidden;
    z-index: 15;
    position: absolute;

} */
.tooltips {
    position: relative !important;
    display: inline-block !important;
  }

  .tooltips .tooltext {
    visibility: hidden !important;
    text-align: center !important;
    border-radius: 6px !important;
    padding: 10px !important;
    position: absolute !important;
    z-index: 15 !important;
    top: 20px !important;
    left: -20px !important;
  }

  .tooltips:hover .tooltext {
    visibility: visible !important;
  }
  .inspireList li{
      margin-bottom: 5px;
      margin-left: 15px;
  }

html, body {
    background-color: #fff;
    color: #3d3d3d !important;
    /* color: #636b6f !important; */
    /* font-family: 'Nunito', sans-serif !important; */
    font-family: 'Helvetica';
    /* font-weight: 400; */
    height: 100vh;
    margin: 0;
}
#loginNav{
    color:white !important;
}

a.nav-link {
    color: rgb(66, 66, 66) !important;
}
li.nav-item>a.nav-link {
    color: rgb(66, 66, 66) !important;
}

.full-height {
    height: 90vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

/* page-item disabled
.page-link
.page-item */

.page-item a{
    color:black !important;
}

.page-link a{
    color:black !important;

}

.page-item.active .page-link{
color:white;
background-color:black !important;
}
